* {
    margin: 0;
    padding: 0;
}

.maindiv{
    width: 100%;

}


body{   
    background-color: wh;
    color: black;
    font-size: 20px;
}

#caldiv{
    padding-top: 20px;
    color: black;
    text-align: center;
    padding-bottom: 20px ;
}

button {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    margin: 5px;
    margin-bottom: 25px;
    color: black;
    background-color:rgb(246, 247, 251);
    font-size: 50px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

button:hover{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.2ms;
    color:rgb(246, 247, 251);
}
#divBtn{
    text-align: center;
    width: 100%;
    justify-content: center;
    align-content: space-between;
}

#equalBtn, #clearBtn{
    color:rgb(246, 247, 251);
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    width: 155px;
}

#inputId{
    color: black;
    font-size: 40px;
    border-radius: 50px;
    margin-top: auto;
    text-align: center;
    background-color: rgb(195, 231, 255);
    width: 70%;
}

#addBtn, #subBtn, #multiBtn, #delBtn, #equalBtn, #clearBtn {
    background-color: rgb(195, 231, 255);
}