* {
    margin: 0;
    padding: 0;
}

.maindiv{
    width: 100%;

}


body{
    background-color: #2B7A0B;
    color: white;
    font-size: 20px;
}

#caldiv{
    padding-top: 20px;
    color: white;
    text-align: center;
    padding-bottom: 20px ;
}

button {
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
    color: white;
    background-color: #7DCE13;
    border-color: white;
    font-size: 50px;
    width: 75px;
}

button:hover{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.2ms;
    color: red;
}
#divBtn{
    text-align: center;
    width: 100%;
    justify-content: center;
    align-content: space-between;
}

#equalBtn, #clearBtn{
    color: red;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    width: 155px;
}

#inputId{
    background-color: #7DCE13;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
    color: white;
    width: 70%;
    padding-top: 20px;
}

